/* Resetando */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9; /* Cor de fundo mais suave */
    font-family: 'Arial', sans-serif; /* Fonte mais padrão */
}

/* Estilização do cabeçalho */
header {
    height: 110px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffcc33;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

/* Container centralizado */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

/* Logo */
header a img {
    max-height: 80px;
}

/* Menu e botão 'Buscar' */
.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

input {
    padding: 10px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ffcc33;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #ffcc33;
    color: black;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #cc3232;
    border-color: #cc3232;
}

button:focus {
    outline: none;
    border-color: #ffcc33;
}

/* Container (body) centralizado */
.container-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px 20px;
}

.container-grid h2 {
    text-align: center;
    padding: 30px 0 30px 0;
}

/* Detalhes do Pokémon */
#pokemonDetalhes {
    margin-top: 20px;
    padding: 15px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: inline-block;
    min-width: 300px;
    text-align: center;
}

/* Lista de Pokémon */
#pokemon-lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pokemon-lista li {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

#pokemon-lista li:hover {
    transform: scale(1.05);
}

/* Adicionando estilos para exibir os atributos de HP, Ataque e Defesa */
#pokemonDetalhes p {
    font-size: 16px;
    margin: 10px 0;
}

#pokemonDetalhes strong {
    color: #ffcc33;
}

/* Rodapé */
footer p {
    background: white;
    padding: 15px;
    margin: 10px;
    color: cadetblue;
    text-align: center;
    height: 200px;
    padding: 100px 0 30px 0;
}
